@charset "utf-8";

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url(../font/Pretendard-ExtraLight.woff) format("woff"),
    url(../font/Pretendard-ExtraLight.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url(../font/Pretendard-Light.woff) format("woff"),
    url(../font/Pretendard-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url(../font/Pretendard-Regular.woff) format("woff"),
    url(../font/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url(../font/Pretendard-Medium.woff) format("woff"),
    url(../font/Pretendard-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url(../font/Pretendard-Bold.woff) format("woff"),
    url(../font/Pretendard-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url(../font/Pretendard-ExtraBold.woff) format("woff"),
    url(../font/Pretendard-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url(../font/Pretendard-Black.woff) format("woff"),
    url(../font/Pretendard-Black.woff2) format("woff2");
}

@font-face {
  font-family: "AdobeCleanHanK";
  font-weight: 200;
  src: url(../font/AdobeCleanHanK-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "AdobeCleanHanK";
  font-weight: 300;
  src: url(../font/AdobeCleanHanK-Light.woff) format("woff");
}

@font-face {
  font-family: "AdobeCleanHanK";
  font-weight: 400;
  src: url(../font/AdobeCleanHanK-Normal.woff) format("woff");
}

@font-face {
  font-family: "AdobeCleanHanK";
  font-weight: 500;
  src: url(../font/AdobeCleanHanK-Regular.woff) format("woff");
}

@font-face {
  font-family: "AdobeCleanHanK";
  font-weight: 700;
  src: url(../font/AdobeCleanHanK-Bold.woff) format("woff");
}

@font-face {
  font-family: "AdobeCleanHanK";
  font-weight: 800;
  src: url(../font/AdobeCleanHanK-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "AdobeCleanHanK";
  font-weight: 900;
  src: url(../font/AdobeCleanHanK-Black.woff) format("woff");
}
